<!DOCTYPE html>
<html>
    <head>
        <title>HTML form</title>
    

    <style>
body {
  background-color: pink;
  align-content: center;  
}

.container {
    background-color: white;
border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0,0,0.8);
  overflow: hidden;
  width: 420px;
  max-width: 100%;
}


.header {
      background-color: #F8F8FF;
  border-bottom: 1px solid #F8F8FF;
padding: 20px 40px ;
}

.header h2 {
  margin: 0px;

}

.form {
    padding: 30px 50px;

}

    </style>

    </head>
    <body>

        <div class= "container">
            <div class="header">
              <h2>Opret en konto</h2>
            </div>
      
    
    <div>
        
            
        <form class="form" name="userContact" onsubmit="return validateContactInformation()" method="get">
            
            <!-- Radio buttons -->
            Dit køn: 
            <br/>
            <input type="radio" class="user_rating" name="rating" value="Mand"/>Mand
            <br/>
            <input type="radio" class="user_rating" name="rating" value="Kvinde"/>Kvinde
            <br/>
            <input type="radio" class="user_rating" name="rating" value="Trejde"/>Noget trejde
            
            <br/>
            <br/>
            
            <!-- Text fields -->
            Fulde Navn 
            <br/>
            <input type="text" id="user_name" value="" placeholder="Supermand"/>
            <br/>
            <br/>
            
            Job titel 
            <br/>
            <input type="text" id="organization" value="" placeholder="Superhelt"/>
            <br/>
            <br/>
            
            Mobil nummer 
            <br/>
            <input type="text" id="phone" value="" placeholder="123456"/>
            <br/>
            <br/>
            
            Email 
            <br/>
            <input type="text" id="email" value="" placeholder="Email addresse"/>
            <br/>
            <br/>
            
            <!-- Dropdown lists -->
            Fødselsdag
            <br/>
            <select type="text" id="contact_day">
                <option selected disabled>-Dag-</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <!-- ...and so forth -->
            </select>
            
            <select type="text" id="contact_month">
                <option selected disabled>-Måned-</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                 <option value="4">April</option>
                <option value="5">May</option>
                 <option value="6">June</option>
                <option value="7">July</option>
                <!-- ...and so forth -->
            </select>
            
            <select type="text" id="contact_year">
                <option selected disabled>-År-</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <!-- ...and so forth -->
            </select>
            <br/>
            <br/>
            
            <!-- Text area for additional comments -->
            Lidt tekst om dig
            <br/>
            <textarea type="text" rows="5" cols="30" id="additional_info" value="" placeholder="Din beskrivelse"></textarea>
            <br/>
            
            <!-- Submit button to activate some function -->
            <button type="submit" style="cursor: pointer;">Submit</button>
        </form>
    </div>
    
        
        <!-- Linking external Javascript file to our HTML page -->
        <script type="application/x-javascript" src="script.js"></script>
    </body>
</html>